@charset "UTF-8";

/* ==========================================================
   ESTILOS BASE / MOBILE FIRST
   ========================================================== */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 px;
    padding: 0px;
}

body, html {
    background-color: aquamarine;
}
header {
    background-color: rgba(0, 255, 255, 0.925);
}
header > h1{
    padding: 10px;
    text-align: center;
}
span#burguer{
    background-color: rgb(5, 136, 136);
    display: block;
    text-align: center;
    padding: 10px;
}
span#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
menu {
    display: block;
}
menu > ul {
    list-style-type: none;/*para sumir com as bolinhas*/
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.603);
    color: black;
    border-top:  2px solid black;

}
menu > ul > li > a:hover {
    background-color: rgba(0, 0, 0, 0.096);
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
}
article > h2 {
    padding-bottom: 20px;
}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}